*{
    box-sizing: border-box;
}
img{
    width: 450px;
    margin-left: 450px;
    
}

body{
    background-image: url(https://images.pexels.com/photos/7599587/pexels-photo-7599587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position:right;

}

#about{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150PX;
    margin-left: 500px;
    color: brown;
    font-weight: bold;
    width: 450px;

}

p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40PX;
    margin-left: 10px;
    color: brown;
    font-weight: bold;
}

#fish1{
    width: 300px;
    float: right;
    margin-top: -450px;
}
#fish2{
    margin-top: -320px;
    margin-left: 0px;
}

#cookie{
    float: right;
    border-radius: 100px;
    border: brown 6px solid;
}


#information{
    font-size: 20px;
    top: 50px;
    position: relative;
    font-family: cursive;
    color: burlywood;
    background-color:teal;
    height: 100px;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 500px;
}

h1{
    font-size: 50px;
    font-family: 'Itim', cursive;
    padding-left: 450px;
    color: burlywood;
    background-color: brown;

}

a{
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin-left: 30px;
    top:-40px;
    position: relative;
    border: 3px solid burlywood;
    padding: 20px;
    border-radius: 30px;
    background-color: cornsilk;
}

#home{
    top: 30px;
}

footer{
    background-color: brown;
    height: 50px;
    margin-top: 10px;
}
footer img{
    margin-left: 0px;
    width: 160px;
    margin-top: -120px;

}
#skyline{
    width: 260px;
}
footer p  {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    font-size:20px;
    padding-top: 15px;
}
#footer1{
    margin-left: 600px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    font-size:20px;
    font-style: italic;

}


#salesfooter{
    margin-top: 180px;
}


th{
        border: 3px solid burlywood;
    width: 40px;
    /* padding-left:10px; */
    left: 65px;
    top: 70px;
    position:relative;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    
}

td{
    border: 3px solid burlywood;
    font-size: 20px;
    /* padding-left: 10px; */
    left: 5px;
    top: 70px;
    position: relative;
    width:60px;
    text-align: center;
    height: 50px;
    color: brown;
    font-weight: bold;
    
}
fieldset{
    border: 2px solid brown;
    padding: 8px;
    height: 330px;
}

#cookiestand{
    float: right;
    margin-right:30px;
    margin-top: 65px;
    font-family: cursive;
    font-size: 12px;
    font-weight: bold;

}
input[type=text]{
    display: block;
    padding-top: 10px;
    text-align:justify;
    box-sizing: border-box;
    font-family: cursive;
    margin-bottom: 10px;
    
}
input[type=submit]{
    /* margin-top: 30px; */
}
