*{
    box-sizing: border-box;
}
img{
    width: 450px;
    margin-left: 450px;
    
}

body{
    background-image: url(https://images.pexels.com/photos/7599587/pexels-photo-7599587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position:right;

}

#about{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150PX;
    margin-left: 500px;
    color: brown;
    font-weight: bold;
    width: 450px;

}

p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40PX;
    margin-left: 10px;
    color: brown;
    font-weight: bold;
}

#fish1{
    width: 300px;
    float: right;
    margin-top: -420px;
}
#fish2{
    margin-top: -320px;
    margin-left: 0px;
    height: 500px;
}

#cookie{
    float: right;
    border-radius: 100px;
    border: brown 6px solid;
}


#information{
    font-size: 20px;
    top: 50px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: burlywood;
    background-color:teal;
    height: 100px;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 500px;
}

h1{
    font-size: 50px;
    font-family: 'Girassol', cursive;
    padding-left: 450px;
    color: burlywood;
    background-color: brown;

}

a{
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin-left: 30px;
    top:-40px;
    position: relative;
    border: 3px solid burlywood;
    padding: 20px;
    border-radius: 30px;
    background-color: cornsilk;
}

#home{
    top: 30px;
}

footer{
    background-color: brown;
    height: 50px;
    margin-top: 10px;
}
footer img{
    margin-left: 0px;
    width: 160px;
    margin-top: -110px;

}
#skyline{
    width: 260px;
}
footer p  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size:20px;
    padding-top: 15px;
}
#footer1{
    margin-left: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size:20px;
    font-style: italic;

}


#salesfooter{
    margin-top: 50px;
}
#salesfooter p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
}
table{
    box-sizing: border-box;
    background-color: rgb(218, 196, 168);
    margin-top:100px ;
    background-size: 600px;


}

th{
    border: 3px solid black;
    width: 10px;
    left: 60px;
    position:relative;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;

    
}

td{
    border: 3px solid black;
    font-size: 15px;
    position: relative;
    width:60px;
    text-align: center;
    height: 50px;
    color: brown;
    font-weight: bold;
    padding-top: 15px;
}
fieldset{
    border: 2px solid brown;
    padding: 8px;
    height: 330px;
}

#cookiestand{
    float: right;
    margin-right:28px;
    margin-top: 20px;
    font-family: cursive;
    font-size: 12px;
    font-weight: bold;

}
input[type=text]{
    display: block;
    padding-top: 10px;
    text-align:justify;
    box-sizing: border-box;
    font-family: cursive;
    margin-bottom: 10px;
    
}

